*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
    margin: 20px;
}
@media (max-width: 768px) {
    .about-grid { grid-template-columns: 1fr; }
}
.about-image {
    align-items: center;
}